// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 600px;
}

h1 {
  margin: 0 0 5px 0;
}

p {
  margin: 0 0 20px 0;
}

a {
  color: #22527F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
